:root {
  --primary: #573b8a;
  --background: #94a3b8;
}


body {
  margin: 0;
  padding: 0;
  min-height: 100dvh;
  font-family: "Jost", sans-serif;
  background: #94a3b8;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

input {
  height: 20px;
  background: #e0dede;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}

/* buttons */
.primary-btn {
  justify-content: center;
  display: block;
  color: #fff;
  background: var(--primary);
  font-size: 1em;
  font-weight: bold;
  outline: none;
  padding: 10px 6px;
  border: 1px solid var(--primary);
  border-radius: 5px;
  transition: 0.2s ease;
  cursor: pointer;
}

.primary-btn:hover {
  background: transparent;
  color: var(--primary);
}



#login main,
#cadastro main {
  width: 350px;
  height: 500px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
  padding: 20px;
}

/* Formulário das páginas de autenticação */

#auth-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#form-title {
  text-align: center;
  color: var(--primary);
}

.form-control {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-control__label {
  color: var(--primary);
  font-weight: bold;
}

.form-actions {
  margin: 10px 0;
}

.form-error {
  color: red;
}

img {
  width: 150px;
  position: absolute;
  top: 2px;
  left: 2px;
  padding: 2rem;
}






.login {
  height: 600px;
  background: #eee;
  border-radius: 60%/ 10%;
  transform: translateY(-180px);
  transition: 0.8s ease-in-out;
}

.login label {
  color: #573b8a;
  transform: scale(0.8);
}

#chk:checked~.login {
  transform: translateY(-560px);
}

#chk:checked~.login label {
  transform: scale(1);
}

#chk:checked~.signup label {
  transform: scale(0.6);
}

.titulo {
  margin: 2rem;
  color: #573b8a;
  text-align: center;
  font-weight: 900;
  font-size: 26px;
}

.container {
  margin: auto;
  height: 500px;
  width: 550px;
  border: 1px solid #000;
  border-radius: 20px;
  box-shadow: 5px 20px 50px #000;
}

h3 {
  color: #573b8a;
  font-weight: 900;
  font-size: 26px;
}

.lista {
  list-style-type: none;
}

.usuarios {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  font-size: 18px;
}

.X {
  cursor: pointer;
  width: 80px;
  height: 25px;
  margin-top: 4.5rem;
}

.X:hover {
  background-color: #fff;
  color: #6d44b8;
}