:root {
  --primary: #573b8a;
  --background: #94a3b8;
}




body {
  margin: 0;
  padding: 0;
  min-height: 100dvh;
  font-family: "Jost", sans-serif;
  background: #94a3b8;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

input {
  height: 20px;
  background: #e0dede;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}

/* buttons */
.primary-btn {
  justify-content: center;
  display: block;
  color: #fff;
  background: var(--primary);
  font-size: 1em;
  font-weight: bold;
  outline: none;
  padding: 10px 6px;
  border: 1px solid var(--primary);
  border-radius: 5px;
  transition: 0.2s ease;
  cursor: pointer;
}

.primary-btn:hover {
  background: transparent;
  color: var(--primary);
}



#login main,
#cadastro main {
  width: 350px;
  height: 500px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
  padding: 20px;
}

/* Formulário das páginas de autenticação */
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#form-title {
  text-align: center;
  color: var(--primary);
}

.form-control {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-control__label {
  color: var(--primary);
  font-weight: bold;
}

.form-actions {
  margin: 10px 0;
}

.form-error {
  color: red;
}








img {
  width: 150px;
  position: absolute;
  top: 2px;
  left: 2px;
  padding: 2rem;
}


/* Pagina usuarios */

#usuarios {
  width: 60%;
  margin: 0 auto;
}

/* Lista usuarios */

.lista-usuarios {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.lista-usuarios__item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.lista-usuarios--item__info span:first-child {
  display: block;
  font-size: 18px;
  font-weight: bold;
}

.lista-usuarios--item__info span:last-child {
  opacity: 0.9;
}

.lista-usuarios--item__actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.lista-usuarios--item__actions button {
  cursor: pointer;
  transition: all .5s;
  border-radius: 5px;

}

.lista-usuarios--item__actions--remover__btn {
  background-color: red;
  color: #FFFF;
  border: 1px solid red;

}

.lista-usuarios--item__actions--remover__btn:hover {
  background-color: transparent;
  color: red;
}

.lista-usuarios--item__actions--editar__btn {
  background-color: blue;
  color: #FFFF;
  border: 1px solid blue;
}

.lista-usuarios--item__actions--editar__btn:hover {
  background-color: transparent;
  color: blue;
}


.login {
  height: 600px;
  background: #eee;
  border-radius: 60%/ 10%;
  transform: translateY(-180px);
  transition: 0.8s ease-in-out;
}

.login label {
  color: #573b8a;
  transform: scale(0.8);
}

#modal-usuario {

  position: absolute;
  border: 1px solid #c1c1c1;
  top: 50%;
  background-color: var(--background);
  padding: 15px;
  border-radius: 5px;
  width: 350px;
  box-shadow: 3px 3px 3px var(--primary);

  left: 50%;
  transform: translate(-50%, -50%);

}

.titulo {
  margin: 2rem;
  color: #573b8a;
  text-align: center;
  font-weight: 900;
  font-size: 26px;
}



h3 {
  color: #573b8a;
  font-weight: 900;
  font-size: 26px;
}